html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    margin: 0;
    overflow: hidden !important;
}

.top-header-strip {
    position: fixed;
    top: 0;
    width: 100%;
    height: 13vh;
    background: #54c0eb;
    z-index: 10;
}

h1 {
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
}

p,
ul,
.projects-a {
    font-size: 1.25rem;
    color: var(--text-color);
    font-weight: 250;
}

a,
.projects-a {
    color: var(--a-clr);
    text-decoration: none;
}

.mid-container{
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to bottom right,
      var(--a-clr) 47.5%,
      var(--a-clr-dark) 5%
    );
  
    position: absolute;
    top: 12vh;
  
    padding: 1rem;
    padding-top: 4rem;
  }

.mid-container h3 {
    font-weight: 100;
    font-size: larger;
    color: rgb(38, 42, 46);
}

.mid-container p {
    width: 50ch;
    color: #000000;
}

.mid-container p.a a{
    color: black;
    position: relative;
    transition: color 500ms ease;
}

.mid-container p.a a, .mid-container p.a a::before, .mid-container p.a a::after{
 --duration: 350ms;
}

.mid-container p.a a:hover{
 color: white;
}

.mid-container p.a a::after{
 content: '';

 height: 3px;
 width: 100%;
 background-color: black;
 position: absolute;
 top: 100%;
 right: 50%;
 transform: translate(50%);

 transition: var(--duration) ease;
}

.mid-container p.a a:hover::after{
 content: '';
 width: 100%;
 height: 100%;
 top: 0;

 animation: content-frames var(--duration) var(--duration) ease forwards;
}

@keyframes content-frames {
    0%{
     content: 'Bug Report';
     content-visibility: hidden;
    }

    100%{
     content: 'Bug Report';
     content-visibility: visible;
    }
}

.mid-container .about-me-heading {
    color: #000000;
}

.big-icon-show {
    height: 50vh;
    aspect-ratio: 1;
    transform: rotateZ(-45deg);
    position: absolute;
    bottom: 35vh;
    right: 20vh;
}

.big-icon-show path {
    fill: var(--big-icon-fill);
}

entered-page{
 color: rgb(46, 45, 66);
 text-decoration: underline;
}

entered-page::before{
 content: open-quote;
}

entered-page::after{
 content: close-quote;
}

.mid-container p:not(.a) a{
 color: var(--text-color);
 text-decoration: underline 2px;
}