body {
  background: var(--a-clr);
  margin: 0;

  --wrapper-padding: 1rem;
}

.wrapper {
  height: 500px;
  width: clamp(40rem, 40vw, 60rem);
  background-color: #fff;
  border-radius: 1rem;
  padding: var(--wrapper-padding);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  padding: 20px;
  border-radius: 8px;
  background-color: #ddd;
  height: 400px;
}

.content {
  width: 100%;
  margin-top: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row button {
  width: 60px;
  height: 30px;
  font-size: 1.1rem;
  border: none;
  outline: none;
  margin: 5px;
  border-radius: 4px;
  transition: 100ms;
  cursor: pointer;
  background-color: rgb(235, 235, 235);
  transition: 250ms ease;
  transition-property: color, filter, background-color;
  outline: none !important;
}

.row button:hover, .row button:focus {
  filter: brightness(1.1);
  background-color: #fff;
}

.display #screen {
  margin-bottom: 3rem;
  width: auto;
  height: 70px;
  font-size: 35px;
  outline: none;
  border: none;
  text-align: right;
  padding-right: 0.5em;
  background: #ecf0f3;
  border-radius: 6px;
}

#eval {
  background: var(--a-clr);
  color: var(--clr-neutral);
}

#ac {
  background: var(--clr-success);
  color: var(--clr-neutral);
}

#ce {
  background: var(--clr-warning);
  color: white;
}