body {
  background: var(--bg-color);
  margin: 0;
}

h1 {
  color: var(--text-color);
  text-align: center;
}

p {
  font-weight: 200;
}

.container {
  margin-top: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px var(--clr-neutral);
}

.content {
  width: 100%;
  margin-top: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row button {
  width: 60px;
  height: 30px;
  font-size: 16px;
  border: none;
  outline: none;
  margin: 5px;
  border-radius: 4px;
  transition: 100ms;
  box-shadow: 5px 5px 8px #00000020, -5px -5px 8px var(--clr-neutral);
}
.row button:hover {
  box-shadow: inset 5px 5px 8px rgba(16, 16, 16, 0.1),
    inset -5px -5px 8px var(--clr-neutral);
  background: var(--clr-neutral);
}
.display #screen {
  margin-bottom: 0.5em;
  width: auto;
  height: 70px;
  font-size: 35px;
  outline: none;
  border: none;
  text-align: right;
  padding-right: 0.5em;
  background: #ecf0f3;
  border-radius: 6px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px var(--clr-neutral);
}
#eval {
  background: var(--top-btm-bg);
  color: var(--clr-neutral);
  box-shadow: inset 5px 5px 8px var(--top-btm-bg),
    inset -5px -5px 8px var(--top-btm-bg);
}
#eval:hover {
  box-shadow: inset 5px 5px 8px var(--top-btm-bg),
    inset -5px -5px 8px var(--top-btm-bg);
}
#ac {
  background: var(--clr-success);
  color: var(--clr-neutral);
}
#ac:hover {
  box-shadow: inset 5px 5px 8px var(--clr-success),
    inset -5px -5px 8px var(--clr-success);
}
#ce {
  background: #ff3399;
  color: var(--clr-success);
}
#ce:hover {
  box-shadow: inset 5px 5px 8px #e60073, inset -5px -5px 8px #ff3399;
}
