body {
  background: #8dbeec;
  margin: 0;
}

p {
  color: var(--text-color);
  font-size: 1.25rem;
  text-align: center
}

.container {
  margin-top: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 .5rem white;
}

.content {
  width: 100%;
  margin-top: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row button {
  width: 60px;
  height: 30px;
  font-size: 16px;
  border: none;
  outline: none;
  margin: 5px;
  border-radius: 4px;
  transition: 100ms;
  cursor: pointer;
  background-color: #ddd;
  transition: 250ms ease;
  transition-property: color, filter, background-color;
  outline: none !important;
}

.row button:hover {
  filter: brightness(1.1);
  background-color: #fff;
}

.display #screen {
  margin-bottom: 0.5em;
  width: auto;
  height: 70px;
  font-size: 35px;
  outline: none;
  border: none;
  text-align: right;
  padding-right: 0.5em;
  background: #ecf0f3;
  border-radius: 6px;
}

#eval {
  background: var(--a-clr);
  color: var(--clr-neutral);
}

#ac {
  background: var(--clr-success);
  color: var(--clr-neutral);
}

#ce {
  background: var(--clr-warning);
  color: white;
}