:root {
  --bg-color: white;
  --text-color: black;
  --text-shadows: #ffffff;
  --btn-bg: rgb(80, 80, 80);
  --btn-txtclr: #fff;
  --scrollbar-bg: #919191;
  --scrollbar-thumb-bg: #5e5e5e;
  --top-btm-bg: #5865f2;
  --a-clr: #2293fa;
  --selection-clr: hsla(235, 86%, 75%, .5);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  background: var(--a-clr);
}
body.game-started{
 background: inherit;
 padding: 0 !important;
}
body.game-started .start_div{
 visibility: hidden;
 opacity: 0;
 pointer-events: none;
}
body.game-started #menuToggle, body.game-started #menu{
 visibility: hidden;
 opacity: 0;
 pointer-events: none;
}

::selection{
  color: #fff;
  background: var(--a-clr);
}
.start_div{
  width: 370px;
  height: 50vh;
  padding: 30px;
  border-radius: 7px;
  background: #fff;
  display: grid;
}
.start_div header{
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

thing .container{
    display: grid;
    place-items: center;
}

#result{
    margin-bottom: 5rem;
    font-size: 1.2rem;
}

thing button{
    padding: .5rem;
    cursor: pointer;
    border: solid 1px black;
    border-radius: .1rem;
    transition: 500ms ease;
    transition-property: background-color, border, color;
}

thing button:hover{
    background-color: #2293fa;
    border: solid 1px rgba(0, 0, 0, 0);
    color: azure;
}

#notification-area {
  position: fixed;
  bottom: 1rem;
  right: 10px;
  width: 250px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#notification-area .notification {
  position: relative;
  padding: 0.875rem 1.75rem;
  background: #111;
  color: #f5f5f5;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  opacity: 0;
  left: 2rem;
  animation: showNotification 500ms ease-in-out forwards;
}
@keyframes showNotification {
  to {
    opacity: 1;
    left: 0px;
  }
}

#notification-area .notification.success {
  background: #49cc7b;
}
#notification-area .notification.error {
  background: rgb(190, 51, 0);
}
#notification-area .notification.info {
  background: #00acee;
}

.notification:not(.notification.info)::selection {
  background: #00acee;
}

.notification.info::selection {
  background: #006c97;
}

body.game-started h1{
    position: absolute;
    top: 1vh;
    left: 50%;
    transform: translate(-50%);
}

body.game-started p{
  position: absolute;
  top: 7.5vh;
  text-align: center;
}

body.game-started label{
    position: absolute;
    top: 13vh;
    text-align: center;
    font-size: large;
}

.click-btn{
 position: absolute;
 height: 2.25rem;
 width: 2.25rem;
 background: var(--a-clr);
 border: none;
 cursor: pointer;
 transition: 100ms ease;
}

.click-btn-div{
    position: absolute;
    top: 17.5vh;
    height: calc(100vh - 17.5vh);
    width: 100vw;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.click-btn-div div{
    height: calc(calc(100vh - 17.5vh) - 3rem);
    width: calc(100vw - 3rem);
}

#restart-game{
    padding: .5rem;
    cursor: pointer;
    border: solid 1px black;
    border-radius: .1rem;
    transition: 500ms ease;
    transition-property: background-color, border, color;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#restart-game.active{
    z-index: 1000;
}

#restart-game:hover{
    background-color: #2293fa;
    border: solid 1px rgba(0, 0, 0, 0);
    color: azure;
}

.dk{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -282732;
}

.dk.active{
    z-index: 1;
    background-color: rgb(50, 50, 50, .25);
}