body {
  background: var(--bg-color);
  margin: 0;
}

h1 {
  text-align: center;
  color: var(--text-color);
}

p {
  text-align: center;
  color: var(--text-color);
  font-weight: 200;
}

#select_dropdown {
  position: fixed;
  top: 75%;
}

#display_time_label {
  text-align: center;
  font-size: 1.5rem;
  color: var(--text-color);
}

.ct {
  width: 100%;
  display: flex;
  justify-content: center;
}

#display_time_label:not(:empty) {
  padding: 0.4rem;
  border: solid;
  border-radius: 5px;
}