.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.contact-grid > .item {
  height: 50vh;
  width: 50vw;
  display: grid;
  place-items: center;
  text-align: center;
}

.contact-grid > .item p {
  font-size: 1.3rem;
}

.item.item-mail {
  background-color: #2293fa80;
}

.item.item-discord {
  background-color: #31bdf480;
}

.item.item-github {
  background-color: rgb(71, 118, 206);
}

.item.item-empty {
  background: linear-gradient(to right, var(--a-clr), var(--selection-color));
}

.contact-anchor {
  font-size: 1.3rem;
  position: relative;
  padding: 0.5em 1em;
  padding-right: 5em;
  background-color: var(--clr-neutral);
  transition: background-color 250ms ease;
  border-radius: 0.25em;
}

.contact-anchor:hover {
  background-color: var(--a-clr-dark);
  color: var(--clr-neutral);
}

.contact-anchor::after {
  content: "";
  position: absolute;
  left: 75%;
  top: 50%;
  display: block;
  border-right: 5px solid rgb(0, 0, 0);
  border-bottom: 5px solid rgb(0, 0, 0);
  width: 1.25rem;
  height: 1.25rem;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: 250ms ease;
  transition-property: border-right, border-left, transform;
}

.contact-anchor:hover::after {
  transform: translate(30%, -50%) rotate(-45deg);
  border-right: 5px solid rgb(255, 255, 255);
  border-bottom: 5px solid rgb(255, 255, 255);
}

.contact-anchor::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 72%;
  height: 5px;
  width: 15%;
  background-color: black;
  transform: translate(-50%, -50%);
  transition: 250ms ease;
  transition-property: transform, background-color;
}

.contact-anchor:hover::before {
  transform: translate(0%, -50%);
  background-color: var(--clr-neutral);
}

.contact-anchor.contact-mail {
  position: relative;
  top: 10px;
}
