* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--a-clr);
}

.container {
  background-color: var(--clr-neutral);
  width: 80vw;
  max-width: 37.5em;
  padding: 3em 2.5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.62em;
  box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
  transition: 500ms ease;
}

.container .instruction {
  color: var(--text-color);
  margin-left: 26.75%;
}

.search-wrapper {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.25em;
}

.search-wrapper button {
  font-size: 1em;
  background-color: var(--a-clr);
  color: var(--clr-neutral);
  padding: 0.8em 0;
  border: none;
  border-radius: 1.5em;

  cursor: pointer;
}

.search-wrapper input {
  font-size: 1em;
  padding: 0 0.62em;
  border: none;
  border-bottom: 2px solid var(--a-clr);
  outline: none;
  color: var(--big-icon-fill);
}

#result {
  margin-top: 1.25em;
  transition: 500ms ease;
}

.container #img-div {
  width: 45%;
  min-width: 7.5em;
  margin-left: 50%;
  border: solid 1px black;
  height: 162.5px;
  transform: translate(-50%);
  cursor: pointer;
}

.container .flag-img {
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: transform 500ms ease;
}

.container .flag-img.f {
  position: absolute;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%) rotate(360deg) scale(3);
}

.container h2 {
  font-weight: 600;
  color: var(--a-clr-dark);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.8em;
}

.data-wrapper {
  margin-bottom: 1em;
  letter-spacing: 0.3px;
}

.container h4 {
  display: inline;
  font-weight: 500;
  color: var(--a-clr-dark);
}

.container span {
  color: var(--big-icon-fill);
}

.container h3 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
  color: var(--clr-warning);
}
