.wrapper * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--a-clr);
  overflow: hidden;
}

.wrapper {
  width: 420px;
  border-radius: 7px;
  background: #fff;
  padding: 1rem;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
  max-height: 62.5vh;
}

.wrapper header {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.wrapper .search {
  position: relative;
  margin: 35px 0 18px;
}

.search input {
  height: 53px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 0 42px;
  border: 1px solid #999;
}

.search input:focus {
  padding: 0 41px;
  border: 2px solid var(--a-clr);
}

.search input::placeholder {
  color: var(--big-icon-fill);
}

.search span {
  position: absolute;
  top: 50%;
  color: var(--big-icon-fill);
  transform: translateY(-100%);
}

.wrapper svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.3rem;
  height: 1.25rem !important;
}

.search svg {
  pointer-events: none;
  font-size: 16px;
}

.search input:focus ~ i {
  color: var(--a-clr);
}

.search span {
  right: 15px;
  cursor: pointer;
  font-size: 18px;
  display: none;
}

.search input:valid ~ span {
  display: block;
}

.wrapper .info-text {
  font-size: 13px;
  color: var(--big-icon-fill);
  margin: -3px 0 -10px;
}

.wrapper.active .info-text {
  display: none;
}

.info-text span {
  font-weight: 500;
}

.wrapper ul {
  height: 0;
  opacity: 0;
  padding-right: 1px;
  transition: all 200ms ease;
}

.wrapper.active ul {
  opacity: 1;
  height: 303px;
}

.wrapper ul li {
  display: flex;
  list-style: none;
  margin-bottom: 14px;
  align-items: center;
  padding-bottom: 1px;
  border-bottom: 0px solid var(--a-clr);
  justify-content: space-between;
}

ul li:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

ul .word p {
  font-size: 22px;
  font-weight: 500;
}

ul .word span {
  font-size: 12px;
  color: var(--big-icon-fill);
}

ul .word svg {
  color: var(--big-icon-fill);
  font-size: 15px;
  cursor: pointer;
}

ul .content {
  max-height: 215px;
}

.content li .details {
  padding-left: 10px;
  border-radius: 4px 0 0 4px;
  border-left: 3px solid var(--a-clr);
}

.content li p {
  font-size: 17px;
  font-weight: 500;
}

.wrapper .content li span {
  font-size: 15px;
  color: var(--big-icon-fill);
}

.content .synonyms .list {
  display: flex;
  flex-wrap: wrap;
}

.content .synonyms span {
  cursor: pointer;
  margin-right: 5px;
  text-decoration: underline;
}

.search svg {
  height: 1rem;
  aspect-ratio: 1;
}
