:root {
  --bg-color: white;
  --text-color: black;
  --text-shadows: #ffffff;
  --btn-bg: rgb(80, 80, 80);
  --btn-txtclr: #fff;
  --scrollbar-bg: #919191;
  --scrollbar-thumb-bg: #5e5e5e;
  --top-btm-bg: #5865f2;
  --a-clr: #2293fa;
  --selection-clr: hsla(235, 86%, 75%, 0.5);
}

*::selection {
  background-color: var(--selection-clr);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background: var(--bg-color);
  margin: 0;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg);
  border-radius: 50vw;
  margin-block: 0.15em;
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
  border: 0.02rem solid rgb(12, 12, 12);
  border-radius: 500vw;
  transition: 0.35s ease;
}

h1,
h2,
p {
  color: var(--text-color);
}

p {
  font-weight: 250;
}

textarea {
  font-family: monospace;
  border: solid 0.075rem #2293fa;
  border-radius: 0.5rem;
  height: 20rem;
  width: 90%;
  background: var(--input-bg);
  font-size: 1.15rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  resize: none;
  color: var(--text-color);
}