:root {
  --bg-color: white;
  --text-color: black;
  --text-shadows: #ffffff;
  --btn-bg: rgb(80, 80, 80);
  --btn-txtclr: #fff;
  --scrollbar-bg: #919191;
  --scrollbar-thumb-bg: #5e5e5e;
  --top-btm-bg: #5865f2;
  --a-clr: #2293fa;
  --selection-clr: rgb(136, 145, 246);
}

*::selection {
  background-color: var(--selection-clr);
}

a::selection,
ff::selection {
  color: var(--a-clr);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background: var(--bg-color);
  margin: 0;
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg);
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
  border: 0.02rem solid rgb(12, 12, 12);
  transition: 0.35s ease;
}

.top-header-cnt {
  position: fixed;
  top: 0;
  width: 100%;
  height: 13vh;
  background: #54c0eb;
  z-index: 10000;
}
h1 {
  text-transform: uppercase;
  font-family: sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

.mid-container {
  height: 87vh;
  position: absolute;
  top: 13vh;
  padding: 1rem;
  padding-top: 4rem !important;
  height: 100%;
  width: 100vw;
  background: linear-gradient(
    to bottom right,
    var(--a-clr) 47.5%,
    #262a2e 5%
  );
  font-family: cursive;
}

.mid-container h3 {
  font-weight: 100;
  font-size: larger;
  color: rgb(38, 42, 46);
}

.mid-container p {
  width: 50ch;
  color: #000000;
}

.mid-container .about-me-heading{
  color: #000000;
}

.social-cc {
  width: 20ch;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2vw;
}

.social-cc.dsc {
  width: 30ch;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  font-size: 1.375rem;
  color: var(--text-color);
  text-align: center;
}

p,
ul,
.projects-a {
  font-size: 1.25rem;
  color: var(--text-color);
  font-weight: 250;
}

a,
.projects-a {
  color: var(--a-clr);
  text-decoration: none;
}

.ytb path,
.dsc path {
  transition: fill 500ms ease;
}

.ytb:hover path {
  fill: red;
}

.dsc:hover path {
  fill: #5865f2;
}

.gear-icon {
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  transition: transform 500ms cubic-bezier(0.78, 0.1, 0.72, 1.02);
}

.gear-icon:hover {
  transform: rotate(180deg);
}

.gear-icon path {
  fill: hsl(0, 0%, 11%);
  transition: fill 500ms ease;
}

.gear-icon:hover path {
  fill: currentColor;
}

#social- {
  width: fit-content;
  border-radius: 1rem;
}

.s {
  height: 50vh;
  aspect-ratio: 1;
  transform: rotateZ(-45deg);
  position: absolute;
  bottom: 30vh;
  right: 20vh;
}

.s path {
  fill: rgb(54, 71, 90);
}

.scm {
  height: 4rem;
  aspect-ratio: 1;
  cursor: pointer;
}