*::before,
*::after,
* {
  box-sizing: border-box;
}

body {
  background-color: var(--a-clr);
  text-align: center;
}

.wrapper {
  height: 540px;
  width: 450px;
  padding: 30px;
  background-color: var(--clr-neutral);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: scroll;
}

.wrapper > header {
  color: var(--text-color);
  font-size: 1.45rem;
}

.strength-meter {
  position: relative;
  height: 2rem;
  width: 90%;
  border: 3px solid var(--selection-color);
  border-radius: 1rem;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 3rem !important;
  margin-bottom: 3rem;
}

.strength-meter::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: calc(1% * var(--strength, 0));
  background-color: var(--a-clr);
  transition: width 200ms;
}

.password-input {
  margin-top: 1rem;
  width: 90%;
  padding: 0.25rem 0.75rem;
  background-color: var(--a-clr);
  color: var(--clr-neutral);
  padding: 10px 15px;
  font-size: 1.3rem;
  border: 1px solid var(--a-clr);
  outline: none;
  text-align: center;
  border-radius: 0.3rem;
  margin-bottom: 3rem;
}

.password-input:focus {
  border-color: var(--selection-color);
}

.weak__header {
  margin-top: 15%;
  
}

.reasons {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  position: relative;
  top: 1.5rem;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}

.reasons > * {
  color: black;
  font-size: 1.1rem;
}

.reasons:empty::after {
  content: "No Weaknesses / Very Strong!";
  font-size: 1.35rem;
}

.btns {
  height: fit-content;
  width: fit-content;
  padding: 0.3rem;
  outline: none;
  margin-top: 0.5rem;
  cursor: pointer;
  background-color: var(--selection-color);
  border-radius: 0.5rem;
  border: none;
  transition: outline 100ms ease;
  position: relative;
}

.btns svg {
  height: 2rem;
  width: 2rem;
}

.btns svg > path {
  fill: black;
}

.weaknesses__toggle {
  font-size: 1.4rem;
  margin-top: 15%;
}

.weaknesses__toggle > summary {
  cursor: pointer;
}

.copy-text::after {
  content: "Copy Password";
  position: absolute;
  top: 115%;
  font-size: 1.2rem;
  transform: scaleX(0) translate(-50%);
  background-color: var(--a-clr);
  transition: opacity 250ms ease;
  width: 15ch;
  opacity: 0;
  padding: 0.25rem 0.5rem;
  left: 50%;
}

.copy-text::before {
  --zs: 15px;
  content: "";
  height: 0;
  width: 0;
  border-right: solid var(--zs) transparent;
  border-left: solid var(--zs) transparent;
  border-bottom: solid var(--zs) var(--a-clr);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%) scaleX(0);
  opacity: 0;
}

.copy-text:hover::after {
  transform: scaleX(1) translate(-50%);
  opacity: 1;
}

.copy-text:hover::before {
  transform: scaleX(1) translate(-50%);
  opacity: 1;
}

.btns:first-of-type::after {
  content: "Toggle Show/Hide";
  position: absolute;
  top: 115%;
  font-size: 1.2rem;
  transform: scaleX(0) translate(-50%);
  background-color: var(--a-clr);
  transition: opacity 250ms ease;
  width: 20ch;
  opacity: 0;
  padding: 0.25rem 0.5rem;
  left: 50%;
}

.btns:first-of-type::before {
  --zs: 15px;
  content: "";
  height: 0;
  width: 0;
  border-right: solid var(--zs) transparent;
  border-left: solid var(--zs) transparent;
  border-bottom: solid var(--zs) var(--a-clr);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%) scaleX(0);
  opacity: 0;
}

.btns:first-of-type:hover::after {
  transform: scaleX(1) translate(-50%);
  opacity: 1;
}

.btns:first-of-type:hover::before {
  transform: scaleX(1) translate(-50%);
  opacity: 1;
}
