:root {
  --bg-color: white;
  --text-color: black;
  --text-shadows: #ffffff;
  --btn-bg: rgb(80, 80, 80);
  --btn-txtclr: #fff;
  --scrollbar-bg: #919191;
  --scrollbar-thumb-bg: #5e5e5e;
  --top-btm-bg: #5865f2;
  --a-clr: #2293fa;
  --selection-clr: hsla(235, 86%, 75%, 0.5);
}

*::selection {
  background-color: var(--selection-clr);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background: var(--bg-color);
}

*:not(#res)::-webkit-scrollbar {
  width: 0.5rem;
  height: .5rem;
}

*:not(#res)::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg);
}

*:not(#res)::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
  border: solid .15rem black;
  transition: 0.35s ease;
}

h1,
h2 {
  text-align: center;
  color: var(--text-color);
}

.bs-inr {
  color: var(--text-color);
  text-align: center;
  font-size: 1.1rem;
}

p {
  font-weight: 250;
}

a {
  color: var(--a-clr);
  text-decoration: none;
}

#input_forproj {
  font-size: 1rem;
  height: 2rem;
  width: 40%;
  background-color: rgb(230, 230, 230);
  border-radius: 0.25rem;
  margin-left: 1%;
  border: 1px solid #ccc;
  padding: 7px 14px 9px;
  transition: 0.4s;
}

code {
  font-family: monospace;
}

.cs_kkJIUUI9-0-JU2Y7ihbHY78bJNJj2iM {
  font-family: monospace;
  border: solid 0.075rem #2293fa;
  border-radius: 0.5rem;
}

.saveCode-Op399KhBkAJhOyNmUU-OPArims {
  border-radius: 0.5rem;
  cursor: pointer;
  max-width: max-content;
  height: 2rem;
  color: black;
  border: solid 1px black;
  background: transparent;
  transition: all 500ms ease;
  font-family: sans-serif;
}

.saveCode-Op399KhBkAJhOyNmUU-OPArims:hover {
  background: #07AEFF;
}

.flex{
  display: flex;
  justify-content: space-around;
}

.cs_kkJIUUI9-0-JU2Y7ihbHY78bJNJj2iM{
  position: absolute;
  left: 0;
}

.sepr{
  height: 102vh;
  width: 1vw;
  background: #07AEFF;
  animation: clr-change-2 5000ms infinite alternate-reverse;
}

.hide{
  visibility: hidden;
}

.flex2{
  display: flex;
  justify-content: center;
  align-items: center;
}

#browser-preview{
  pointer-events: none;
  opacity: 0;
}

#labelfor{
  border: solid 1px black;
  cursor: pointer;
  padding: 1rem;
  border-radius: .25rem;
  transition: background-color 500ms ease;
}

#labelfor:hover{
  background-color: #07AEFF;
}

.hide{
  visibility: hidden;
  pointer-events: none;
}

.box{
  padding-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-right: 4rem;
  border: solid 1px black;
  height: 2rem;
  width: 11rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: .5rem .5rem 0 0; /* top-left top-right bottom-left bottom-right */
  display: flex;
  justify-content: left;
  align-items: center;
  pointer-events: none;
  position: relative;
  left: 50%;
  transform: translate(-50%);

  overflow: hidden;
}

.box img{
  margin-right: .5rem;
}

button:hover, label:hover{
  border: solid 1px transparent !important;
}

.box p{
  margin-bottom: 2rem;
}

@keyframes clr-change {
  0%{
    background: #07AEFF;
  }
  10%{
    background: #008AD8;
  }
  20%{
    background: #0068B2;
  }
  30%{
    background: #00498E;
  }
  40%{
    background: #002B6B;
  }
  50%{
    background: #3C4F95;
  }
  60%{
    background: #6876C1;
  }
  70%{
    background: #94A0EF;
  }
  80%{
    background: #C2CBFF;
  }
  90%{
    background: #959ED0;
  }
  100%{
    background: #6974A3;
  }
}

@keyframes clr-change-2 {
  0%{
    background: #07AEFF;
  }
  10%{
    background: #00C8FE;
  }
  20%{
    background: #00DEE2;
  }
  30%{
    background: #26EDB7;
  }
  40%{
    background: #A2F78B;
  }
  50%{
    background: #F9F871;
  }
  60%{
    background: #91f971;
  }
  70%{
    background: #71c3f9;
  }
  80%{
    background: #3dddba;
  }
  90%{
    background: #71b0f9;
  }
  100%{
    background: #07AEFF;
  }
}