body {
 background: #8fc7fb;
 min-height: 650px;
 transform-style: preserve-3d;
}

.display-option-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 55px;
  font-size: 1.3rem;
  padding: .75em 1.25em;
  border: solid 1px black;
  border-radius: .5rem;
}

.flex {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.choose-display-button {
  --clr: var(--a-clr);
  --arrow-size: 10px;

  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 5rem;
  cursor: pointer;
  border: solid 1px black;
  border-radius: .25rem;
  outline: none !important;
  background-color: transparent;
  transition: background-color 250ms ease;
  position: relative;
}

.choose-display-button:hover, .choose-display-button:focus {
  background-color: #eee;
  outline: none !important;
}

.choose-display-button.selected {
  border: solid 2px black;
  background-color: var(--a-clr);
}

.choose-display-button.selected:hover, .choose-display-button.selected:focus {
  background-color: var(--selection-color);
}

.choose-display-button::before {
  content: attr(id);
  font-size: 1.3rem;
  text-transform: capitalize;
  position: absolute;
  bottom: -2.5rem;
  padding: .15em .3em;
  border-radius: .15rem;
  z-index: 1;
  background-color: var(--clr);
  transform: scale(0);
  opacity: 0;
  transition: opacity 250ms ease;
  z-index: 5
}

.choose-display-button::after {
  content: "";
  position: absolute;
  bottom: -.5rem;
  width: 0; 
  height: 0; 
  border-left: var(--arrow-size) solid transparent;
  border-right: var(--arrow-size) solid transparent;
  border-bottom: var(--arrow-size) solid var(--clr);
  opacity: 0;
  transition: opacity 250ms ease;
  z-index: 5
}

.choose-display-button:hover::before, .choose-display-button.choose-display-button:hover::after {
  opacity: 1;
  transform: scale(1);
}

.swiper {
  position: absolute;
  top: 125px;
  height: clamp(25rem, 325px, 60rem);
  width: clamp(40rem, 50vw, 50rem);
}

.swiper-slide {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  text-align: center;
  position: relative;
}

.swiper-slide .card-brief {
  font-size: 1.1rem;
  margin-inline: 4rem;
  margin-top: 3.5rem;
  margin-bottom: 4rem;
}

.swiper-slide .card-visit {
 padding: .5em 1.25em;
 background-color: var(--a-clr);
 color: white;
 border-radius: .25rem;
}

.grid-view {
  width: 100%;
  min-height: 50vh;
  position: absolute;
  top: calc(125px + 2.5rem);
  left: 50%;
  transform: translate(-50%) scale(0);
  z-index: 20;
  text-align: center;
  margin-top: 2rem;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  left: 50%;
  transform: translate(-50%);
}

.form__field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgb(41, 41, 41);
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 350ms;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 350ms;
  font-size: 1rem;
  color: rgb(41, 41, 41);
}

.form__field:focus {
  padding-bottom: 6px;
  border-bottom-width: 3px;
  border-image: linear-gradient(to right, var(--a-clr), var(--a-clr-dark));
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: black;
}

.form__field:required, .form__field:invalid {
  box-shadow: none;
}

body.grid .swiper {
  transform: scale(0);
}

body.grid .grid-view {
  transform: translate(-50%) scale(1);
}

.card-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.grid-card {
  height: clamp(25rem, 60vh, 35rem);
  width: clamp(40rem, 45vw, 50rem);
  text-align: center;
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
}

.grid-card.no-search {
  display: none;
}

.grid-card-brief {
  font-size: 1.1rem;
  margin-inline: 4rem;
  margin-top: 3.5rem;
  margin-bottom: 4rem;
}

.grid-card-visit {
 padding: .5em 1.25em;
 background-color: var(--a-clr);
 color: white;
 border-radius: .25rem;
 position: absolute;
 bottom: 4rem;
 left: 50%;
 transform: translate(-50%);
}

particle {
  position: fixed;
  left: 0;
  top: 0;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  z-index: 19;
}