:root {
  --bg-color: #363E46;
  --main-color: white;
  --second-color: #58ABFF;
  --filter-brightness: 1.3;
  --transition: 250ms;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  min-width: 100vw;
  font-family: System-UI;
}

.mainPage {
 background-color: var(--bg-color);
 height: 100%;
 width: 100%;
}

.mainPage.hide {
 opacity: 0;
}

.mainHeader, .subHeader {
  text-align: center;
  font-weight: 350;
  color: var(--main-color);
}

.brief {
  font-size: 1.32rem;
  text-align: center;
  color: var(--main-color);
  margin-inline: 1rem;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-items: space-around;
  align-items: center;
  gap: 1rem;
  position: relative;
  top: 5rem;
  left: 0;
  width: 100%;
  height: fit-content;
}

.navigateTo {
  background-color: var(--second-color);
  height: 50px;
  width: 60%;
  border-radius: .25rem;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: .5rem;
  cursor: pointer;
  transition: var(--transition) ease;
  transition-property: color, background, background-color, filter;
}

.navigateTo#danger {
  background-color: #FD6060;
  margin-top: 1rem;
}

.navigateTo:hover, .navigateTo:focus {
  filter: brightness(var(--filter-brightness));
}

.navigateTo:active {
  filter: brightness(var(--filter-brightness))
}

.navigateTo::after {
  content: '\f061';
  font-family: 'fontawesome';
}

.gotoPage {
  min-height: 100%;
  min-width: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: calc(var(--transition) * 2) cubic-bezier(0.175, 0.885, 0.32, 1.2);
  transition-property: background-color, transform;
}

.gotoPage.active {
  transform: scaleX(1);
  background-color: var(--bg-color);
}

.navToContent {
  display: flex;
  gap: 1rem;
}

.navToContent i, .navToContent svg path {
  color: var(--main-color);
  fill: var(--main-color);
}

.back-home-svg {
  height: 2.5rem;
  aspect-ratio: 1;
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: inline-block;
  cursor: pointer;
}

.back-home-svg path {
  fill: var(--main-color);
}

.deleteAllBtn {
  background-color: var(--main-color);
  padding: .75em 1.25em;
  font-size: 1em;
  cursor: pointer;
  border: solid 1px var(--main-color);
  transition: calc(var(--transition) * 2) ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.deleteAllBtn:hover, .deleteAllBtn:focus {
  outline: none !important;
  background-color: var(--bg-color);
  color: var(--main-color);
}

.font-type-header {
  font-weight: 350;
  position: absolute;
  left: 5rem;
  color: var(--main-color);
}

.font-type-header[data-font="code"] {
  margin-top: 7rem;
}

.choose-font-div {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem !important;
  gap: 1rem;
  position: relative;
  left: 5.5rem;
}

.choose-normal {
  top: 4rem;
}

.choose-code {
  top: 10rem;
}

.font-choose {
  background-color: var(--second-color);
  width: 60%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .25em .5em;
  border-radius: .25rem;
  cursor: pointer;
  transition: filter var(--transition) ease;
}

.font-code#browser::before {
  content: "(Browser Font)";
  color: #ccc;
  font-size: 1rem;
  position: absolute;
  left: 8.5rem;
}

.font-choose[data-chosen] {
  filter: brightness(calc(var(--filter-brightness) + .1));
}

.font-choose[data-chosen]::after {
  content: '\f00c';
  font-family: 'fontawesome';
}

/* Theme css */

.choose-theme-div {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem !important;
  gap: 1rem;
  position: relative;
  left: 5.5rem;
  top: 5rem;
}

.theme-choose {
  background-color: var(--second-color);
  width: 60%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .25em .5em;
  border-radius: .25rem;
  cursor: pointer;
  transition: filter var(--transition) ease;
  position: relative;
}

.theme-default {
  background-color: #2293fa;
}

.theme-mist {
  background-color: #c54bda;
}

.theme-forest {
  background-color: #53d458;
}

.theme-dull {
  background-color: #eac75d;
}

.theme-underworld {
  background-color: #ff3b3b;
}

.theme-choose[data-chosen] {
  filter: brightness(calc(var(--filter-brightness) + .2));
}

.theme-choose[data-chosen]::before {
  content: '\f00c';
  font-family: 'fontawesome';
  position: absolute;
  right: 1rem;
}

.theme-choose[data-chosen]::after {
  content: "SELECTED";
  letter-spacing: -1px;
  position: absolute;
  right: -7rem;
  background-color: #ff3b3b;
  padding: .25em .5em;
  border-radius: .25rem;
}

note {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translate(-50%);
  width: max-content;
  opacity: .75;
  font-size: 1.15rem;
  color: var(--main-color);
}

note::before {
  content: "[NOTE]: ";
}

/* The switch - the box around the slider */
.switch {
  width: 60px;
  height: 34px;
  position: absolute;
  top: 25%;
  left: 13rem;
}

.switch::before {
  content: "Enable/Disable";
  color: white;
  font-size: 1.3rem;
  position: absolute;
  top: 15%;
  left: -11rem;
}

/* Hide default HTML checkbox */
.switch .toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FD6969;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle:checked + .slider {
  background-color: #40C66E;
}

.toggle:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.toggle:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.picker-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  place-items: center;
}

.grid-item {
  height: 35vh;
  width: 45vw;
  border-radius: .5rem;
  border: solid 1px white;
  color: var(--main-color);
  display: flex;
  justify-content: space-around;
  align-content: center;
  gap: 1rem;
  flex-direction: column;
}

.picker-header {
  display: block;
  margin: 1rem;
  font-size: x-large;
}

.toggle-menu {
  margin-left: 3rem;
}

.shortcut-menu {
  margin-left: 3rem;
}

.picker-div {
  position: absolute;
  left: 50%;
  transform: translate(-50%)
}

.choose-display-div {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem !important;
  gap: 1rem;
  position: relative;
  left: 5.5rem;
  top: 5rem;
}

.display-choose {
  background-color: var(--second-color);
  width: 60%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .25em .5em;
  border-radius: .25rem;
  cursor: pointer;
  transition: filter var(--transition) ease;
}

.display-choose[data-chosen] {
  filter: brightness(calc(var(--filter-brightness) + .1));
}
  
.display-choose[data-chosen]::after {
  content: '\f00c';
  font-family: 'fontawesome';
}

.particle-amount-label {
  color: white;
  font-size: 1.3rem;
  position: absolute;
  top: 40%;
  left: 2rem;
}

.particle-range {
  position: absolute;
  top: 40%;
  left: 13rem;
}

.particle-range {
  height: 25px;
  -webkit-appearance: none;
  width: 12rem;
}
.particle-range:focus {
  outline: none;
}
.particle-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
.particle-range::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.particle-range:focus::-webkit-slider-runnable-track {
  background: #2497E3;
}
.particle-range::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
.particle-range::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
.particle-range::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.particle-range::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
.particle-range::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
.particle-range::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
.particle-range:focus::-ms-fill-lower {
  background: #2497E3;
}
.particle-range:focus::-ms-fill-upper {
  background: #2497E3;
}

.particle-amount-show {
  font-size: 1.3rem;
  position: absolute;
  top: 40%;
  left: 26rem;
  color: white;
}