:root {
  --bg-color: white;
  --text-color: black;
  --text-shadows: #ffffff;
  --btn-bg: rgb(80, 80, 80);
  --btn-txtclr: #fff;
  --scrollbar-bg: #919191;
  --scrollbar-thumb-bg: #5e5e5e;
  --top-btm-bg: #5865f2;
  --a-clr: #2293fa;
  --selection-clr: hsla(235, 86%, 75%, 0.5);
}

*::selection {
  background-color: var(--selection-clr);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  transition-property: background, color, background-color;
  transition-duration: 500ms;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg);
  border-radius: 50vw;
  margin-block: 0.15em;
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
  border: 0.02rem solid rgb(12, 12, 12);
  border-radius: 500vw;
  transition: 0.35s ease;
}

.top-header-strip {
  position: fixed;
  top: 0;
  width: 100%;
  height: 11%;
  background-color: var(--top-btm-bg);
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: 10;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.intro {
  color: var(--text-color);
  font-size: 1.5rem;
  text-align: center;
}

p,
ul,
.projects-a {
  font-size: 1.25rem;
  color: var(--text-color);
  font-weight: 250;
}

#save-cog{
 padding: .75em 1.5em;

 position: absolute;
 left: 60%;
 transform: translate(-50%);

 top: 90%;
 cursor: pointer;
 border: none;
 transition: background-color 500ms ease;
 background-color: var(--a-clr);
 border-radius: .25em;
}

#save-cog:hover {
  background-color: var(--top-btm-bg);
}

ul.settings-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 2rem;
  width: 75vw;
}

ul.settings-list.font-settings {
  position: relative;
}

ul > li {
  border-left: solid 0.4rem var(--a-clr);
  padding: 1rem;
}

ul.settings-list:first-of-type li:first-of-type {
  margin-right: 25%;
}


.toggle-process{
  padding: .5rem 1rem;
  cursor: pointer;
}

label.small{
  font-size: 1rem;
  word-wrap: break-word;
  cursor: pointer;
}

ul.settings-list {
  transition: 500ms ease;
  
  transition-property: opacity, transform;
}

ul.settings-list:not(.hide){
  opacity: 1;
  transform: translateX(0);
}

ul.settings-list:last-of-type {
  margin-top: 3rem;
}

.hide {
  transform: translateX(-10%);
  opacity: 0;
}