body {
  background: var(--a-clr);
  margin: 0;
}

.wrapper, .after-choice {
  width: 375px;
  height: 30rem;
  max-height: 90vh;
  max-width: 80vw;
  padding: 30px;
  border-radius: 7px;
  background: var(--clr-neutral);
  position: absolute;
  top: 50%;
  left: 50%;
}

.wrapper {
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.after-choice {
  transform: translate(-50%, -50%) scaleX(0);
  transition: transform 250ms ease;
  transform-origin: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.after-choice.active {
  transform: translate(-50%, -50%) scaleX(1);
  transform-origin: left;
}

.wrapper header,
.after-choice header {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.choice-btn {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 10px 0;
  border: none;
  background: var(--a-clr);
  border-radius: 5px;
  color: var(--clr-neutral);
  outline: none;
  cursor: pointer;
  transition: transform 300ms ease;
}

.choice-btn:hover {
  transform: scale(0.96);
}

.icon {
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon > i{
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.75rem;
  cursor: pointer;
}

._text_ {
  height: 30vh;
  width: 100%;
  resize: none;
  border-radius: 0.5rem;
  border: solid 1px black;
  color: black;
  margin-top: 15%;
}

.after-choice button {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px 0;
  border: none;
  background: var(--a-clr);
  border-radius: 5px;
  color: var(--clr-neutral);
  outline: none;
  cursor: pointer;
  transition: transform 300ms ease;
}

.after-choice button:hover {
  transform: scale(0.96);
}