body {
  background: var(--bg-color);
  margin: 0;
}

h1{
  color: var(--text-color);
}

.label-and-check-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: fit-content;
  width: fit-content;
}

.text-counter-check{
  height: 3rem;
  cursor: pointer;
}

.label-and-check-container label{
  font-size: 1.14rem;
  margin-right: 2rem;
}

.show-count-label{
  font-size: 1.14rem;
  margin-left: 1rem;
  position: absolute;
  top: 40vh;
}

.show-count-label.act{
  margin-left: calc(1rem + 14rem);
}

.textareas{
  width: 95%;
  background: var(--input-bg);
  resize: none;
  height: 40vh;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.05rem;
  border: solid 1px black;
  outline: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 50vh; 
}

.textareas:focus{
  border: solid 2px var(--a-clr);
}

.ea{
  color: var(--text-color);
}