body {
  background-color: var(--a-clr);
  text-align: center;
}

body.external-disabled div.external-enabled {
  display: none;
} 

body.external-enabled div.external-disabled {
  display: none;
}

.main-header {
  padding: .75em 3em;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.commit {
  width: 90vw;
  height: 60px;
  border-radius: .25rem;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 2em;
}

.commit-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.author-pic {
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.author-name {
  font-size: 1.2rem;
}

.commit-message {
  font-size: 1.1rem;
  color: black;
  text-decoration: underline 1px;
}

.commit-message:where(:hover, :focus) {
  text-decoration: none;
}

.commit-extra-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  font-size: 1.2rem;
}

.verified path {
  fill: var(--a-clr);
}

.commit-date {
  color: #555;
}

@media (max-width: 930px) {
  
  .commit {
    height: 175px;
    width: 65vw;
    flex-direction: column;
  }

}