body {
  background-color: var(--a-clr);
  text-align: center;
}

.main-header {
  padding: .75em 3em;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  left: 50%;
  transform: translate(-50%);
}

.form__field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgb(41, 41, 41);
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 350ms;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 350ms;
  font-size: 1rem;
  color: rgb(41, 41, 41);
}

.form__field:focus {
  padding-bottom: 6px;
  border-bottom-width: 3px;
  border-image: linear-gradient(to right, var(--a-clr), var(--a-clr-dark));
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: black;
}

.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.commit {
  width: 90vw;
  height: 60px;
  border-radius: .25rem;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 2em;
}

.commit-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.author-pic {
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.author-name {
  font-size: 1.2rem;
}

.commit-message {
  font-size: 1.1rem;
  color: black;
  text-decoration: underline 1px;
}

.commit-message:where(:hover, :focus) {
  text-decoration: none;
}

.commit-extra-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  font-size: 1.2rem;
}

.verified path {
  fill: var(--a-clr);
}

.commit-date {
  color: #555;
}