html{
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  background: var(--bg-color);
  margin: 0;
}

.top-header-strip {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 13vh;
  background: var(--top-btm-bg);
  z-index: 10;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

a {
  text-decoration: none;
}

p,
ul,
.projects-a {
  font-size: 1.25rem;
  color: var(--text-color);
  font-weight: 250;
}

a,
.projects-a {
  color: var(--a-clr);
  text-decoration: none;
}

.gear-icon {
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  transition: transform 500ms cubic-bezier(0.78, 0.1, 0.72, 1.02);
}

.gear-icon:hover {
  transform: rotate(180deg);
}

.gear-icon path {
  fill: hsl(0, 0%, 11%);
  transition: fill 500ms ease;
}

.gear-icon:hover path {
  fill: currentColor;
}

.mid-container{
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom right,
    var(--a-clr) 47.5%,
    var(--a-clr-dark) 5%
  );

  position: absolute;
  top: 12vh;

  padding: 1rem;
  padding-top: 4rem;
}

.mid-container p{
  width: 50vw;
}

.mid-container *{

  color: var(--a-clr);

}

.mid-container ul li{
  color: var(--a-clr-dark);
  transition: 500ms ease;
  width: fit-content;
}

.mid-container ul li:hover {
  color: var(--text-color);
  text-decoration: underline;
}

.s {
  height: 50vh;
  aspect-ratio: 1;
  transform: rotateZ(-30deg);
  position: absolute;
  bottom: 30vh;
  right: 20vh;
}

.s path {
  fill: var(--big-icon-fill);
}