@font-face {
  font-family: "Main";
  src: url(/fonts/font-manrope.ttf);
}

*,
*::before,
*::after {
  font-family: "Main";
}

body {
  height: 100vh;
  min-height: 650px;
}

:root {
  --accent: #3ea1d0;
  --secondary-accent: rgb(36, 41, 48);
  --clr-warning: #eb3d3d;
  --clr-success: #47d368;
  --selection-color: #7ed6ff;
}

*::selection {
  background-color: var(--selection-color);
  color: black;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-weight: 100;
  color: var(--text-color);
  text-align: center;
}

h1 {
  font-weight: 500;
}

button {
  min-width: max-content !important;
}

.home-button {
  position: fixed;
  z-index: 100;
  top: 1rem;
  left: 2rem;
  padding: .8rem .9rem;
  background-color: rgb(14, 15, 17);
  transition: background-color 250ms ease;
  cursor: pointer;
  border-radius: .2rem;
}

.home-button:hover {
  background-color: black;
}

.home-button i {
  color: #777;
  font-size: 1.2rem;
  transition: color 250ms ease;
}

.home-button:hover i {
  color: white;
}