@font-face {
  font-family: "Main";
  src: url(/fonts/font-manrope.ttf);
}

*,
*::before,
*::after {
  font-family: "Main";
}

body {
  height: 100vh;
  min-height: 650px;
  background-color: var(--secondary-accent);
}

:root {
  --accent: #3ea1d0;
  --secondary-accent: rgb(36, 41, 48);
  --clr-warning: #eb3d3d;
  --clr-success: #47d368;
  --selection-color: #51b5e3;
}

*::selection {
  background-color: var(--selection-color);
  color: black;
}

h1, h2, h3, p, span {
  color: white;
}

h1 {
  font-size: 3.4rem;
  font-weight: 500;
}

p {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

button {
  min-width: max-content !important;
}