body{
 margin: .25rem;
}

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace !important;
  height: 60vh;
  width: 60vw;
  color: rgb(197, 197, 197);
  direction: ltr;
  border: .1rem solid rgba(0, 0, 0, 0.25);
  font-size: 1.025rem;
  transition: 500ms ease;
}

.CodeMirror:hover{
 height: 98vh;
 width: 90vw;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: .25rem solid #07AEFF;
  background-color: #181E2A; /* 34 in all 3 values */
  white-space: nowrap;
  color: rgb(170, 170, 170);
}

.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: rgb(255, 255, 255);
  white-space: nowrap;
}

.CodeMirror-guttermarker {
  color: rgb(255, 255, 255);
}
.CodeMirror-guttermarker-subtle {
  color: #999;
}
/* CURSOR */

.CodeMirror-cursor {
  border-left: solid 2px #4286df;
  width: 0;
  background: rgba(122, 122, 122, 0.253);
  
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor .CodeMirror-line::selection,
.cm-fat-cursor .CodeMirror-line > span::selection,
.cm-fat-cursor .CodeMirror-line > span > span::selection {
  background: transparent;
}
.cm-fat-cursor .CodeMirror-line::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span > span::-moz-selection {
  background: transparent;
}
.cm-fat-cursor {
  caret-color: transparent;
}
@-moz-keyframes blink {
  0% {
    background-color: white;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}
@-webkit-keyframes blink {
  0% {
    background-color: white;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}
@keyframes blink {
  0% {
    background-color: white;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}

.cm-tab {
  display: inline-block;
  text-decoration: inherit;
}

.CodeMirror-rulers {
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0;
  bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {
  color: rgb(0, 0, 255);
}
.cm-s-default .cm-quote {
  color: #090;
}
.cm-negative {
  color: #d44;
}
.cm-positive {
  color: #292;
}
.cm-header,
.cm-strong {
  font-weight: bold;
}
.cm-em {
  font-style: italic;
}
.cm-link {
  text-decoration: underline;
}
.cm-strikethrough {
  text-decoration: line-through;
}

.cm-s-default .cm-keyword {
  color: rgb(226, 166, 98); /* rgb(226, 174, 115) */
}
.cm-s-default .cm-atom {
  color: rgb(255, 185, 94); /* 163, 32, 180*/
}
.cm-s-default .cm-number {
  color: rgb(226, 166, 98);
}
.cm-s-default .cm-def {
  color: rgb(224, 85, 166);
}
.cm-s-default .cm-variable-2 {
  color: #05a; /* #05a */
}
.cm-s-default .cm-variable-3,
.cm-s-default .cm-type {
  color: rgb(226, 166, 98);
}
.cm-s-default .cm-comment {
  color: rgb(133, 133, 133);
}
.cm-s-default .cm-string {
  color: rgb(61, 184, 61);
}
.cm-s-default .cm-string-2 {
  color: rgb(61, 184, 61);
}
.cm-s-default .cm-meta {
  color: rgb(198, 141, 216); /* #555 */
}
.cm-s-default .cm-qualifier {
  color: rgb(226, 166, 98);
}
.cm-s-default .cm-builtin {
  color: rgb(134, 177, 255);
}
.cm-s-default .cm-bracket {
  color: #997;
}
.cm-s-default .cm-tag {
  color: rgb(255, 94, 94);
}
.cm-s-default .cm-attribute {
  color: rgb(226, 166, 98); /* #00c */
}
.cm-s-default .cm-hr {
  color: #999;
}
.cm-s-default .cm-link {
  color: #00c;
}
.cm-s-default .cm-error {
  color: rgb(216, 109, 109);
}
.cm-invalidchar {
  color: inherit;
}
.cm-property{
  color: rgb(197, 197, 197);
}
.cm-operator{
  color: rgb(90, 233, 233);
}
.CodeMirror-composing {
  border-bottom: 2px solid;
}

.cm-comment::selection{
 color: white;
}

.cm-tag.cm-bracket{
  color: rgb(197, 197, 197) !important;
}

.emmet-abbreviation-preview .CodeMirror{
  background-color: #181E2A !important;
  height: fit-content;
  width: 35ch;
  pointer-events: none;
  z-index: 1000000000000000000;
}

.emmet-abbreviation-preview .cm-s-default{
  color: white !important;
}

.emmet-abbreviation-preview .cm-s-default .CodeMirror-scroll .CodeMirror-sizer div .CodeMirror-lines div .CodeMirror-code .CodeMirror-line span > *{
  color: white !important;
}

/* js keys */

.cm-s-default .cm-keyword-js {
  color: rgb(226, 98, 220); /* rgb(226, 174, 115) */
}
.cm-s-default .cm-extra-js{
  color: red;
}
.cm-s-default .cm-atom-js {
  color: rgb(255, 185, 94); /* 163, 32, 180*/
}
.cm-s-default .cm-number-js {
  color: rgb(226, 166, 98);
}
.cm-s-default .cm-def-js {
  color: rgb(98, 153, 226);
}
.cm-s-default .cm-variable-2-js {
  color: rgb(0, 140, 255); /* #05a */
}
.cm-s-default .cm-variable-3-js,
.cm-s-default .cm-type-js {
  color: rgb(226, 166, 98);
}
.cm-s-default .cm-meta-js {
  color: rgb(198, 141, 216); /* #555 */
}
.cm-s-default .cm-qualifier-js {
  color: rgb(226, 166, 98);
}
.cm-s-default .cm-builtin-js {
  color: rgb(134, 177, 255);
}
.cm-s-default .cm-bracket-js {
  color: #997;
}
.cm-s-default .cm-tag-js {
  color: rgb(255, 94, 94);
}
.cm-s-default .cm-attribute-js {
  color: rgb(226, 166, 98); /* #00c */
}
.cm-s-default .cm-hr-js {
  color: #999;
}
.cm-s-default .cm-link-js {
  color: #00c;
}
.cm-s-default .cm-error-js {
  color: rgb(216, 109, 109);
}
.cm-invalidchar-js {
  color: inherit;
}
.cm-property-js{
  color: rgb(0, 140, 255);
}
.cm-operator-js{
  color: rgb(112, 239, 243);
}

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0b0;
  background: rgba(171, 171, 171, 0.05);
  border-bottom: solid 1px #a9c2e2;
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: rgb(221, 60, 60);
}
div.CodeMirror span.CodeMirror-matchingtag{
  border-bottom: solid 1px #a9c2e2;
}
.CodeMirror-activeline-background {
  background: #e8f2ff;
}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: rgb(52, 58, 71);
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px;
  margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
  z-index: 0;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}
.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0;
}

.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection {
  background-color: transparent;
}
.CodeMirror-gutter-wrapper ::-moz-selection {
  background-color: transparent;
}

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-rtl pre {
  direction: rtl;
}

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre {
  position: static;
}

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected {
  background: #d9d9d9;
}
.CodeMirror-focused .CodeMirror-selected {
  background: rgba(255, 255, 255, 0.25);
}
.CodeMirror-crosshair {
  cursor: crosshair;
}
.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background: rgba(255, 255, 255, 0.25);
}
.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
  background: rgba(255, 255, 255, 0.25);
}

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, 0.4);
}

/* Used to force a border model for a node */
.cm-force-border {
  padding-right: 0.1px;
}

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after {
  content: "";
}

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext {
  background: none;
}
