* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  min-height: 100vh;
  background: var(--a-clr);
}

.container {
  max-width: 690px;
  width: 100%;
  padding: 30px;
  background: var(--clr-neutral);
  border-radius: 7px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.01);
}

.wrapper {
  border-radius: 5px;
  border: 1px solid #ccc;
}

.wrapper select {
  cursor: pointer;
}

.text-input textarea {
  height: 250px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  background: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
}

.text-input textarea::placeholder {
  color: var(--big-icon-fill);
}

.controls,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  list-style: none;
  padding: 12px 15px;
}

.icons {
  padding: 1rem;
}

.container .row svg {
  height: 1.2rem;
  cursor: pointer;
}

.from-text {
  border-right: solid 1px black !important;
  border-radius: 0px !important;
}

.text-input {
  display: flex;
  border: solid 1px black;
}

.controls .row select {
  color: var(--big-icon-fill);
  border: none;
  outline: none;
  font-size: 18px;
  background: none;
  padding-left: 5px;
}

.controls .exchange {
  color: var(--big-icon-fill);
  cursor: pointer;
  font-size: 16px;
  transition: transform 200ms ease;
}

.exchange svg {
  height: 1.5rem;
}

.container button {
  width: 100%;
  padding: 14px;
  outline: none;
  border: none;
  color: var(--clr-neutral);
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  border-radius: 5px;
  background-color: var(--a-clr);

  transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 2);
}

.container button:focus {
  outline: black solid 3px;
}

@media (max-width: 660px) {
  .container {
    padding: 20px;
  }

  .wrapper .text-input {
    flex-direction: column;
  }

  .text-input .to-text {
    border-left: 0px;
    border-top: 1px solid #ccc;
  }

  .text-input textarea {
    height: 200px;
  }

  .controls .row .icons {
    display: none;
  }

  .container button {
    padding: 13px;
    font-size: 16px;
  }

  .controls .row select {
    font-size: 16px;
  }

  .controls .exchange {
    font-size: 14px;
  }
}

.container button:hover {
  background-color: var(--top-btm-bg);
}
