body {
  --ff-primary: "Quicksand", sans-serif;
  --ff-primary-light: "Quicksand Light", sans-serif;
  --ff-primary-medium: "Quicksand Medium", sans-serif;
  --ff-primary-semibold: "Quicksand Semibold", sans-serif;
  --ff-primary-bold: "Quicksand Bold", sans-serif;

  --ff-code: "Jetbrains Mono", monospace;
}

:root {
  --bg-color: #fff;
  --text-color: #000;
  --top-btm-bg: #54c0eb;
  --a-clr: #2293fa;
  --a-clr-dark: #121417;
  --big-icon-fill: #404756;
  --selection-color: #00b6ff;
  --clr-warning: #eb3d3d;
  --clr-success: #47d368;
  --clr-neutral: #fff;
}

body {
  margin: 0;
  min-height: 650px;
}

html {
  scroll-behavior: smooth;
}

*::selection {
  background-color: var(--selection-color);
  color: var(--text-color);
}

@font-face {
  font-family: "Jetbrains Mono";
  src: url(/assets/fonts/CODE-FONTS/Jetbrains-Mono.ttf);
}

@font-face {
  font-family: "FiraCode";
  src: url(/assets/fonts/CODE-FONTS/FiraCode.otf);
}

@font-face {
  font-family: "Roboto Mono";
  src: url(/assets/fonts/CODE-FONTS/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: "Cascadia Code";
  src: url(/assets/fonts/CODE-FONTS/Cascadia-Code.ttf);
}

/**

  FONT-FACE {QUICKSAND} - MULTIPLE.

**/

@font-face {
  font-family: "Quicksand Light";
  src: url(/assets/fonts/quicksand/Quicksand-Light.ttf);
}

@font-face {
  font-family: "Quicksand";
  src: url(/assets/fonts/quicksand/Quicksand-Regular.ttf);
}

@font-face {
  font-family: "Quicksand Medium";
  src: url(/assets/fonts/quicksand/Quicksand-Medium.ttf);
}

@font-face {
  font-family: "Quicksand Semibold";
  src: url(/assets/fonts/quicksand/Quicksand-SemiBold.ttf);
}

@font-face {
  font-family: "Quicksand Bold";
  src: url(/assets/fonts/quicksand/Quicksand-Bold.ttf);
}

/**

  FONT-FACE {RALEWAY} - MULTIPLE.

**/

@font-face {
  font-family: "Raleway Light";
  src: url(/assets/fonts/raleway/Raleway-Light.ttf);
}

@font-face {
  font-family: "Raleway";
  src: url(/assets/fonts/raleway/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Raleway Medium";
  src: url(/assets/fonts/raleway/Raleway-Medium.ttf);
}

@font-face {
  font-family: "Raleway Semibold";
  src: url(/assets/fonts/raleway/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: "Raleway Bold";
  src: url(/assets/fonts/raleway/Raleway-Bold.ttf);
}

/**

  FONT-FACE {POPPINS} - MULTIPLE.

**/

@font-face {
  font-family: "Poppins Light";
  src: url(/assets/fonts/poppins/Poppins-Light.otf);
}

@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/poppins/Poppins-Regular.otf);
}

@font-face {
  font-family: "Poppins Medium";
  src: url(/assets/fonts/poppins/Poppins-Medium.otf);
}

@font-face {
  font-family: "Poppins Semibold";
  src: url(/assets/fonts/poppins/Poppins-Semibold.otf);
}

@font-face {
  font-family: "Poppins Bold";
  src: url(/assets/fonts/poppins/Poppins-Bold.otf);
}

/**

  FONT-FACE {MONTSERRAT} - MULTIPLE.

**/

@font-face {
  font-family: "Montserrat Light";
  src: url(/assets/fonts/montserrat/Montserrat-Light.otf);
}

@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/montserrat/Montserrat-Regular.otf);
}

@font-face {
  font-family: "Montserrat Medium";
  src: url(/assets/fonts/montserrat/Montserrat-Medium.otf);
}

@font-face {
  font-family: "Montserrat Semibold";
  src: url(/assets/fonts/montserrat/Montserrat-SemiBold.otf);
}

@font-face {
  font-family: "Montserrat Bold";
  src: url(/assets/fonts/montserrat/Montserrat-Bold.otf);
}

/** NOTIFICATION CODE */

#notification-area {
  position: fixed;
  bottom: 1rem;
  right: 10px;
  width: 250px;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#notification-area.disabled {
  transform: scale(0);
}

#notification-area .notification {
  position: relative;
  padding: 0.875rem 1.75rem;
  background: linear-gradient(to right, var(--a-clr), var(--selection-color), var(--selection-color));
  color: #f5f5f5;
  font-family: var(--ff-primary);
  font-size: 1rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
  margin: 0.5rem 0;
  opacity: 0;
  left: 2rem;
  animation: showNotification 500ms forwards alternate;
  text-align: left;
}

.notification.contextMenu {
  width: 30ch;
  left: -4.25rem !important;
  animation: showNotification 500ms forwards alternate;
}

.notif.notif-timer {
  position: absolute;
  bottom: 0;
  border-radius: 0.5rem;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);

  animation: notf-timer 5000ms ease-in-out forwards;
}

@keyframes showNotification {
  to {
    opacity: 1;
    left: 0px;
  }
}

@keyframes notf-timer {
  to {
    width: 0;
  }
}

#notification-area .notification.success {
  background: #49cc7b;
}
#notification-area .notification.error {
  background: rgb(190, 51, 0);
}
#notification-area .notification.info {
  background: #00acee;
}

.notification:not(.notification.info)::selection {
  background: var(--selection-color);
}

.notification.info::selection {
  background: var(--a-clr);
}

/** FULL SCREEN MENU CODE */

#toggle-menu {
  height: 1.5rem;
  width: 2.5rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  z-index: 9999999999999999999;
  background-color: rgba(35, 39, 44, 0.288);
  padding: 0.5rem;
  overflow: hidden;
}

body.menu-right #toggle-menu {
  height: 1.5rem;
  width: 2.5rem;
  position: fixed;
  top: 1rem;
  left: calc(100vw - calc(1.5rem + (1rem * 2) + 1rem));
  cursor: pointer;
  z-index: 9999999999999999999;
  background-color: rgba(35, 39, 44, 0.288);
  padding: 0.5rem;
  overflow: hidden;
}

#toggle-menu,
#toggle-menu > *,
.span,
.span-c,
#menu,
#menu > * {
  box-sizing: content-box !important;
}

.span {
  height: 0.15rem;
  width: 2.375rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  transition: 500ms ease;
}

.span:not(:is(:last-of-type, :first-of-type)) {
  top: 42%;
}

.span:last-of-type {
  top: calc(42% + 22%);
}

.span-c.active .span {
  background-color: black !important;
}

.span-c.active .span:first-of-type {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  margin-top: 0.75rem;
}

.span-c.active .span:not(:is(:last-of-type, :first-of-type)) {
  transform: scale(0);
}

.span-c.active .span:last-of-type {
  transform: translate(-50%, -225%) rotate(-45deg);
}

body.menu-right #menu {
  transform-origin: bottom left;
}

body.menu-right #menu.active {
  transform-origin: top right;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 1000;
  transition: 500ms ease;
  transition-property: transform;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.9);
  transform: scale(0);
  transform-origin: bottom right;
}

#menu .items-container {
  height: 0;
}

#menu.active .items-container {
  height: fit-content;
}

#menu.active {
  transform: scale(1);
  transform-origin: top left;
}

#menu .menu-item {
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms ease;
  font-weight: 100;
  text-align: center;
}

.menu-item {
  --delay: 500ms;
  --increment: 100ms;

  color: black !important;
}

#menu.active .menu-item {
  opacity: 1;
  pointer-events: all;
}

#menu.active .menu-item.item1 {
  transition-delay: calc(var(--delay) + var(--increment)) !important;
  transition-property: opacity;
}

#menu.active .menu-item.item2 {
  transition-delay: calc(var(--delay) + calc(var(--increment) * 2)) !important;
  transition-property: opacity;
}

#menu.active .menu-item.item3 {
  transition-delay: calc(var(--delay) + calc(var(--increment) * 3)) !important;
  transition-property: opacity;
}

#menu.active .menu-item.item4 {
  transition-delay: calc(var(--delay) + calc(var(--increment) * 4)) !important;
  transition-property: opacity;
}

#menu.active .menu-item.item5 {
  transition-delay: calc(var(--delay) + calc(var(--increment) * 5)) !important;
  transition-property: opacity;
}

#menu.active .menu-item.item6 {
  transition-delay: calc(var(--delay) + calc(var(--increment) * 6)) !important;
  transition-property: opacity;
}

#menu .menu-item {
  font-weight: 100;
  cursor: pointer;
  transition-property: background-color, color, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease;
  border-radius: 1rem;
  padding: 0.5rem;
  width: fit-content;
  text-transform: uppercase;
  font-family: var(--ff-primary-medium);
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

#menu .menu-item::after {
  --bg-clr-neutral: linear-gradient(
    45deg,
    var(--a-clr) 50%,
    var(--a-clr-dark) 5%
  );

  content: "";
  width: 100%;
  height: 3px;
  background: var(--bg-clr-neutral);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%) scale(0);

  transition: transform 500ms ease;
  transform-origin: right;
}

#menu .menu-item:hover::after {
  content: "";
  background: var(--bg-clr-neutral);
  transform-origin: left;
  transform: translate(-50%) scale(1);
}

/**

  USING CUSTOM-FONTS

**/

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: var(--ff-primary-medium);
  font-weight: 100;
  color: var(--text-color);
  text-align: center;
}

*,
div,
div > *,
a,
p,
input,
label,
span,
li,
i,
b,
select,
strong,
textarea,
button,
output,
abbr,
footer,
sub,
sup,
details,
summary,
article,
section,
table,
th,
td {
  font-family: var(--ff-primary) !important;
}

code, textarea, input:not(:where([type="button"], [type="submit"])) {
 font-family: var(--ff-code) !important;
}

button {
 min-width: max-content !important;
}

.shortcut-menu {
  position: fixed;
  top: 1rem;
  left: 7vw;
  height: 2rem;
  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(1, 1, 1, 0.15);
  z-index: 100;
  padding: 0.2rem;
  gap: 0.75rem;
  transition: 500ms ease;
  transition-property: opacity;
}

body.menu-right .shortcut-menu {
  left: calc(100vw - calc(1.5rem + (1rem * 2) + 9rem));
  margin-left: -1.5rem !important;
}

.shortcut-menu.disabled {
  opacity: 0;
  pointer-events: none;
}

.shortcut-menu svg {
  height: 1.5rem;
  cursor: pointer;
}

.shortcut-menu svg path {
  fill: #efefef;
  transition: fill 250ms ease;
}

.shortcut-menu svg:hover path {
  fill: var(--a-clr);
}

.shortcut-menu a {
  position: relative;
}

.shortcut-menu a::before,
.shortcut-menu a::after {
  transition: opacity 250ms ease;
}

.shortcut-menu a:hover::before,
.shortcut-menu a:hover::after {
  opacity: 1;
}

.shortcut-menu a::before {
  --size: 10px;

  content: "";
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%);
  width: 0;
  height: 0;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid var(--a-clr-dark);
  opacity: 0;
  pointer-events: none;
}

.shortcut-menu a::after {
  content: attr(data-redirect);
  position: absolute;
  top: 115%;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--a-clr-dark);
  padding: 0.25em 0.75em;
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 1080px) {
  .shortcut-menu {
    opacity: 0;
    pointer-events: none;
  }
}

@media (max-width: 959px) {
  .big-icon-show,
  .s {
    display: none;
  }
}

strikethrough {
  text-decoration: line-through;
}

italic {
  font-style: italic;
}

bold {
  font-style: bold;
}

underline {
  text-decoration: underline;
}

button:not(.custom) {
  background-color: var(--a-clr);
  padding: 0.75em 1em;
  border: none;
  border-radius: 0.5em;
  transition: outline 100ms;
  cursor: pointer;
}

button:focus {
  outline: rgb(0, 0, 0) solid 3px !important;
}

abbr:hover {
  cursor: pointer;
}

abbr:hover::before {
  content: attr(title);
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%);
  width: max-content;
  padding: 0.15em;
  background-color: var(--clr-neutral);
}

.cross {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  height: 1rem;
  width: 1rem;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.cross span:first-of-type {
  position: absolute;
  top: 0.5rem;
  right: 0;
  height: 0.15rem;
  width: 100%;
  background-color: var(--clr-neutral);
  transform: rotate(45deg);
}

.cross span:last-of-type {
  position: absolute;
  top: 0.5rem;
  right: 0;
  height: 0.15rem;
  width: 100%;
  background-color: var(--clr-neutral);
  transform: rotate(-45deg);
}
