body {
  background-color: var(--accent);
  overflow-x: hidden !important;
}

.add-code {
  height: 300px;
  width: clamp(20rem, 45%, 90vw);
  max-width: 90vw;
  border-radius: .5rem;
  background-color: white;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
}

.add-icon path {
  fill: #333;
}

.add-icon {
  height: 50%;
  aspect-ratio: 1;
}

.add-title {
  font-size: 1.5rem;
}

/* seperator */

.code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: calc(300px + 10rem);
  left: 50%;
  transform: translate(-50%);
  padding-bottom: 2rem;
}

.code-container .code-div {
  height: 450px;
  width: 40rem;
  max-width: 95vw;
  background-color: #333;
  position: relative;
}

@media (max-width: 574px) {

  .code-div {
    height: 500px !important;
  }

  .code-title {
    left: 50% !important;
    transform: translate(-50%);
  }

  .select-lang {
    left: 50% !important;
    transform: translate(-50%);
    margin-top: 1rem;
  }

  .btn-group {
    top: 7.5rem !important;
    left: 50% !important;
    transform: translate(-50%);
    margin-top: 1rem;
  }

  .area {
    top: 12rem !important;
  }

}

.code-div .code-title {
  font-size: 1.4rem;
  background: none;
  border: solid 2px transparent;
  border-bottom-color: white;
  outline: none !important;
  padding: .3rem;
  color: white;
  transition: border 100ms ease;
  position: absolute;
  left: 2rem;
  top: 2.5rem;
  max-width: 13rem;
}

.code-title:focus {
  border: solid 2px white;
}

.btn-group {
  position: absolute;
  top: 3rem;
  right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  background-color: var(--accent);
  font-size: 1.2rem;
  padding: .35em 1.25em;
  border: solid 1px transparent;
  border-radius: .2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .25rem;
  outline: none !important;
  transition: filter 150ms ease;
}

.btn:where(:hover, :focus) {
  outline: none !important;
  filter: brightness(1.2);
}

.select-lang {
  position: absolute;
  left: 2rem;
  top: 5.5rem;
}

.area {
  font-size: 1.1rem;
  background-color: #444;
  height: 250px;
  width: calc(100% - 5rem);
  position: absolute;
  top: 8rem;
  left: 1rem;
  overflow: scroll;
  border: solid 2px transparent;
  padding: .5em 1em !important;
  resize: none;
  color: white;
  outline: none !important;
}

.area.hide {
  display: none;
}

.code-area:focus {
  border: solid 2px white;
  outline: none !important;
}

.edit-area {
  color: rgb(215, 215, 215);
  line-height: 1.5;
}

.popup__btn-delete {
  background: rgb(229, 98, 98) !important;
}