.spinner{
 height: 10rem;
 width: 10rem;
 border: 1rem solid transparent;
 background: var(--a-clr);
 border-radius: 100%;
 border-top-color: var(--top-btm-bg);

 animation: loading-spinner 1000ms infinite linear;

 position: absolute;
 top: 20%;
 left: 50%;
 transform: translate(-50%, -50%);
}

@keyframes loading-spinner{
 to{
  transform: translate(-50%, -50%) rotate(1turn);
 }
}

body {
    margin: 0;
}

h1#redirect-h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

h3#patient-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    text-align: center;
    margin-top: 95vh;
}